<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
			</Pattern>
		</layout>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>

  	<appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>c:/tmp/rest-demo.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		    <!-- daily rollover -->
			<FileNamePattern>rest-demo.%d{yyyy-MM-dd}.log</FileNamePattern>
			
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>			
		</rollingPolicy>
 
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
		</encoder> 	    
  	</appender>
  	<appender name="minuteRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		    <!-- rollover every minute -->
			<FileNamePattern>c:/tmp/minutes/rest-demo-minute.%d{yyyy-MM-dd_HH-mm}.log</FileNamePattern>
			
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>			
		</rollingPolicy>
 
		<encoder>
			<Pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</Pattern>
		</encoder> 	    
  	</appender>
	
	<appender name="SCHEDULER-FILE" class="ch.qos.logback.core.FileAppender">
        <file>scheduler.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
	
	<appender name="SCHEDULER-DB" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource
            class="ch.qos.logback.core.db.DriverManagerConnectionSource">
            <driverClass>com.mysql.jdbc.Driver</driverClass>
            <url>jdbc:mysql://localhost:3306/syra</url>
            <user>root</user>
            <password>root</password> <!-- no password -->
        </connectionSource>
    </appender>
	
    <!-- Quartz Loggers additivity=false ensures analytics data only goes to the analytics log -->
    <logger name="syra.etl.app.scheduler" level="INFO" additivity="false">
        <appender-ref ref="SCHEDULER-FILE"/>
        <appender-ref ref="SCHEDULER-DB"/>
    </logger>	
    <logger name="org.quartz" level="INFO" additivity="false">
        <appender-ref ref="SCHEDULER-FILE"/>
        <appender-ref ref="SCHEDULER-DB"/>
    </logger>
    <logger name="org.springframework.scheduling.quartz" level="INFO" additivity="false">
        <appender-ref ref="SCHEDULER-FILE"/>
        <appender-ref ref="SCHEDULER-DB"/>
    </logger>
  		
	<logger name="org.codingpedia" additivity="false">
	    <level value="DEBUG" />
		<appender-ref ref="dailyRollingFileAppender"/>
		<appender-ref ref="minuteRollingFileAppender"/>
		<appender-ref ref="consoleAppender" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="consoleAppender" />
	</root>
</configuration> 