.agreement_content{font-family:arial;background-color:#FFF;}
table{text-align:center;font-weight:normal; padding:10px;}
td{vertical-align:middle;color:#000;padding:10px;}

h2{margin-top:25px;margin-bottom:25px;text-align:center;}
