/* Print GRC */

html{background-color:#FFFFFF;}

#bill{border: 2px solid #000;}
#bill h3{text-align:center;border-bottom:2px solid #DDD;margin-top:20px;margin-bottom:20px;}

#terms{margin: 0 5% 0 5%;}
