<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="s3credential">Account</a>
        </li>
    </ul>
</div>
<!-- <div class="portlet light bordered">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe font-green hide"></i>
                        <span class="caption-subject font-green bold uppercase">Feeds</span>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#" data-target="#tab_1_1" data-toggle="tab" aria-expanded="true"> System </a>
                        </li>
                        <li class="">
                            <a href="#" data-target="#tab_1_2" data-toggle="tab" aria-expanded="false"> Activities </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    BEGIN TABS
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1_1">
                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 306px;"><div class="scroller" style="height: 306px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2" data-initialized="1">
                                <ul class="feeds">
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-bell-o"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> You have 4 pending tasks.
                                                        <span class="label label-sm label-info"> Take action
                                                            <i class="fa fa-share"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date"> Just now </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <div class="col1">
                                                <div class="cont">
                                                    <div class="cont-col1">
                                                        <div class="label label-sm label-success">
                                                            <i class="fa fa-bell-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc"> New version v1.4 just lunched! </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col2">
                                                <div class="date"> 20 mins </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-danger">
                                                        <i class="fa fa-bolt"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> Database server #12 overloaded. Please fix the issue. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date"> 24 mins </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-info">
                                                        <i class="fa fa-bullhorn"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> New order received and pending for process. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date"> 30 mins </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-bullhorn"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> New payment refund and pending approval. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date"> 40 mins </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-warning">
                                                        <i class="fa fa-plus"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> New member registered. Pending approval. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date"> 1.5 hours </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-bell-o"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> Web server hardware needs to be upgraded.
                                                        <span class="label label-sm label-default "> Overdue </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date"> 2 hours </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-default">
                                                        <i class="fa fa-bullhorn"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> Prod01 database server is overloaded 90%. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date"> 3 hours </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-warning">
                                                        <i class="fa fa-bullhorn"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> New group created. Pending manager review. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date"> 5 hours </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-info">
                                                        <i class="fa fa-bullhorn"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> Order payment failed. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date"> 18 hours </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-default">
                                                        <i class="fa fa-bullhorn"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> New application received. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date"> 21 hours </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-info">
                                                        <i class="fa fa-bullhorn"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> Dev90 web server restarted. Pending overall system check. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date"> 22 hours </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-default">
                                                        <i class="fa fa-bullhorn"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> New member registered. Pending approval </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date"> 21 hours </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-info">
                                                        <i class="fa fa-bullhorn"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> L45 Network failure. Schedule maintenance. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date"> 22 hours </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-default">
                                                        <i class="fa fa-bullhorn"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> Order canceled with failed payment. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date"> 21 hours </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-info">
                                                        <i class="fa fa-bullhorn"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> Web-A2 clound instance created. Schedule full scan. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date"> 22 hours </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-default">
                                                        <i class="fa fa-bullhorn"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> Member canceled. Schedule account review. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date"> 21 hours </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-info">
                                                        <i class="fa fa-bullhorn"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> New order received. Please take care of it. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date"> 22 hours </div>
                                        </div>
                                    </li>
                                </ul>
                            </div><div class="slimScrollBar" style="background: rgb(215, 220, 226) none repeat scroll 0% 0%; width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 137.498px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                        </div>
                        <div class="tab-pane" id="tab_1_2">
                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 337px;"><div class="scroller" style="height: 337px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2" data-initialized="1">
                                <ul class="feeds">
                                    <li>
                                        <a href="javascript:;">
                                            <div class="col1">
                                                <div class="cont">
                                                    <div class="cont-col1">
                                                        <div class="label label-sm label-success">
                                                            <i class="fa fa-bell-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc"> New user registered </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col2">
                                                <div class="date"> Just now </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <div class="col1">
                                                <div class="cont">
                                                    <div class="cont-col1">
                                                        <div class="label label-sm label-success">
                                                            <i class="fa fa-bell-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc"> New order received </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col2">
                                                <div class="date"> 10 mins </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-danger">
                                                        <i class="fa fa-bolt"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> Order #24DOP4 has been rejected.
                                                        <span class="label label-sm label-danger "> Take action
                                                            <i class="fa fa-share"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date"> 24 mins </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <div class="col1">
                                                <div class="cont">
                                                    <div class="cont-col1">
                                                        <div class="label label-sm label-success">
                                                            <i class="fa fa-bell-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc"> New user registered </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col2">
                                                <div class="date"> Just now </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <div class="col1">
                                                <div class="cont">
                                                    <div class="cont-col1">
                                                        <div class="label label-sm label-success">
                                                            <i class="fa fa-bell-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc"> New user registered </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col2">
                                                <div class="date"> Just now </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <div class="col1">
                                                <div class="cont">
                                                    <div class="cont-col1">
                                                        <div class="label label-sm label-success">
                                                            <i class="fa fa-bell-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc"> New user registered </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col2">
                                                <div class="date"> Just now </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <div class="col1">
                                                <div class="cont">
                                                    <div class="cont-col1">
                                                        <div class="label label-sm label-success">
                                                            <i class="fa fa-bell-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc"> New user registered </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col2">
                                                <div class="date"> Just now </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <div class="col1">
                                                <div class="cont">
                                                    <div class="cont-col1">
                                                        <div class="label label-sm label-success">
                                                            <i class="fa fa-bell-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc"> New user registered </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col2">
                                                <div class="date"> Just now </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <div class="col1">
                                                <div class="cont">
                                                    <div class="cont-col1">
                                                        <div class="label label-sm label-success">
                                                            <i class="fa fa-bell-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc"> New user registered </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col2">
                                                <div class="date"> Just now </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <div class="col1">
                                                <div class="cont">
                                                    <div class="cont-col1">
                                                        <div class="label label-sm label-success">
                                                            <i class="fa fa-bell-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc"> New user registered </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col2">
                                                <div class="date"> Just now </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div><div class="slimScrollBar" style="background: rgb(215, 220, 226) none repeat scroll 0% 0%; width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                        </div>
                    </div>
                    END TABS
                </div>
            </div> -->
                                
                                
<div class="row" ng-controller="S3CredentialsController">
 
		<div class="portlet light">
		    <div class="portlet-title tabbable-line">
                                        <div class="caption">
                                            <span class="caption-subject font-dark "> {{accountstatus=='Syra' ? 'Syra Account' : 'Configure new'}} </span>
                                        </div>
                                          <ul class="nav nav-tabs {{accountstatus=='Syra' ? 'hide' : 'show'}}">
                        					<li class="active">
                            					<a href="#" data-target="#tab_1_1" data-toggle="tab" aria-expanded="true"> Add Configure </a>
                        					</li>
                        				<li class="">
                            				<a href="#" data-target="#tab_1_2" data-toggle="tab" aria-expanded="false"> All Configure   </a>
                        			</li>
                    </ul> 
                
            </div>
 			
             <!-- BEGIN FORM-->
             	 <div class="portlet-body form">
                <!--  <div class="form-body"> -->
                       <div class="tab-content">
                      <div class="tab-pane active" id="tab_1_1"> 
                      <form name="myform" ng-submit="S3CredentialSubmit()"  novalidate >
                      <!-- <h4 class="form-section">Credentials Info</h3> -->
 
 						
 						 <div class="row">
                         <div class="col-md-12">
                             <div class="form-group"  ng-class="{ 'has-error' : myform.CredentialsName.$invalid && (myform.CredentialsName.$dirty || submitted)}">
                                 <label class="control-label">Credentials Name</label>
                                 <input type="text" name="CredentialsName"  ng-model="formData.CredentialsName" class="form-control" placeholder="Credentials 1"      ng-readonly="accountstatus=='Syra' ?  true  : false " required>
                                 <span class="help-block"  ng-show="myform.CredentialsName.$error.required && (myform.CredentialsName.$dirty || submitted)"> Your Credentials Name is required. </span>  
                             </div>
                         </div>
  
                    	 </div>
                     <!--/row-->
                      
                    
                     <!--/row-->
                     <h4 class="form-section">S3 Credentials</h3>
                      <div class="row">
                         <div class="col-md-12" ng-class="{ 'has-error' : myform.accesskey.$invalid && (myform.accesskey.$dirty || submitted)}">
                             <div class="form-group">
                                 <label>Access Key</label>
                                 <input type="text" name="accesskey" class="form-control" ng-model="formData.accesskey"   ng-readonly="accountstatus=='Syra' ?  true  : false " required> 
                                 <span class="help-block"  ng-show="myform.accesskey.$error.required && (myform.accesskey.$dirty || submitted)"> Your Access Key is required. </span>  
                                 </div>
                         </div>
                         <div class="col-md-12" ng-class="{ 'has-error' : myform.secretkey.$invalid && (myform.secretkey.$dirty || submitted)}">
                         <div class="form-group">
                                 <label>Secret Key</label>
                                 <input type="text" name="secretkey" class="form-control" ng-model="formData.secretKey"  ng-readonly="accountstatus=='Syra' ?  true  : false "  required> 
                                 <span class="help-block"  ng-show="myform.secretkey.$error.required && (myform.secretkey.$dirty || submitted)"> Your Secret Key is required. </span>  
                                 </div>
                         </div>
                     </div>
					 <div class="form-actions center {{accountstatus=='Syra' ? 'hide' : 'show'}}" align="center">
                    
                   <button type="submit" class="btn default"  ng-disabled="myform.$invalid"> <i class="fa fa-check"></i>  Create</button>
                   <button type="reset" class="btn default">Reset</button>
                 	</div> 
                 <!-- </div> -->
                
             	</form>
             	 </div>
             	 <div class="tab-pane" id="tab_1_2">
      			
      			<div class="portlet light">
                                         
                                        <div class="portlet-body">
                                            <table id="tableCredentials"   data-height="299" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true">
                                                <thead>
                                                    <tr>
                                                        <th data-field="id" data-align="left">Credentials ID</th>
                                                        <th data-field="accessKey" data-align="left">AccessKey</th>
                                                        <th data-field="secretKey" data-align="left">SecretKey</th>
                                                        <th  data-align="left">Action</th>
                                                    </tr>
                                                </thead>
                                                 <!-- <tbody>
													<tr  ng-repeat="buildjson in buildjson_S3Credentials"    on-finish-render="ngRepeatFinished">
														<td  style="text-align: left;"> {{buildjson.id}} </td>
														<td  style="text-align: left;"> {{buildjson.accessKey}} </td>
														<td  style="text-align: left;"> {{buildjson.secretKey}} </td>
														<td  style="text-align: left;">   </td>	
													</tr> 
        										</tbody>  --> 
                                            </table>
                                        </div>
                                    </div>
                
             	 </div>
 				 </div>
         	<!-- END FORM-->
 		 </div>	
	  </div>
 		
	<!-- <div class="col-md-5">
                                BEGIN SAMPLE TABLE PORTLET
                               	<div class="portlet light">
 
             	 <div class="portlet-body form">
             	                      <h3 class="form-section">ALL Credentials</h3>
                      					<div class="table-scrollable">
                                            <table class="table table-striped table-bordered table-advance table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <i class="fa fa-briefcase"></i> Credentials </th>
                                                        <th class="hidden-xs">
                                                            <i class="fa fa-user"></i> AccessKey </th>
                                                        <th>
                                                            <i class="fa fa-shopping-cart"></i> SecretKey </th>
                                                        <th> Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="buildjson in buildjson_S3Credentials" >
                                                        <td class="highlight">
                                                            <div class="success"></div>
                                                            <a href="javascript:;">  {{buildjson.id}} </a>
                                                        </td>
                                                        <td class="hidden-xs">  {{buildjson.accessKey}} </td>
                                                        <td>  {{buildjson.secretKey}} </td>
                                                        <td>
                                                            <a href="javascript:;" class="btn btn-outline btn-circle btn-sm purple">
                                                                <i class="fa fa-edit"></i> Edit </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="highlight">
                                                            <div class="info"> </div>
                                                            <a href="javascript:;"> Google </a>
                                                        </td>
                                                        <td class="hidden-xs"> Adam Larson </td>
                                                        <td> 560.60$ </td>
                                                        <td>
                                                            <a href="javascript:;" class="btn btn-outline btn-circle dark btn-sm black">
                                                                <i class="fa fa-trash-o"></i> Delete </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="highlight">
                                                            <div class="success"> </div>
                                                            <a href="javascript:;"> Apple </a>
                                                        </td>
                                                        <td class="hidden-xs"> Daniel Kim </td>
                                                        <td> 3460.60$ </td>
                                                        <td>
                                                            <a href="javascript:;" class="btn btn-outline btn-circle green btn-sm purple">
                                                                <i class="fa fa-edit"></i> Edit </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="highlight">
                                                            <div class="warning"> </div>
                                                            <a href="javascript:;"> Microsoft </a>
                                                        </td>
                                                        <td class="hidden-xs"> Nick </td>
                                                        <td> 2560.60$ </td>
                                                        <td>
                                                            <a href="javascript:;" class="btn btn-outline btn-circle red btn-sm blue">
                                                                <i class="fa fa-share"></i> Share </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                 </div>
  
	  </div>
	
	
    </div> 
 --></div>
             