<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="servercredentials">Source</a>
        </li>
    </ul>
</div>
                                    
<div class="row" ng-controller="ServerCredentialsController">
 
		<div class="portlet light">
		    
 			
             <!-- BEGIN FORM-->
             	 <div class="portlet-body form">
        
 
                      <form name="myform" ng-submit="ServerCredentialSubmit()"  novalidate >
                        <h3 class="form-section">Address Info</h3> 
 
 						
 						 <div class="row">
                         <div class="col-md-12">
                             <div class="form-group"  ng-class="{ 'has-error' : myform.serverName.$invalid && (myform.serverName.$dirty || submitted)}">
                                 <label class="control-label">Server Name</label>
                                 <input type="text" name="serverName"  ng-model="formData.serverName" class="form-control" placeholder="Server 1"   required>
                                 <span class="help-block"  ng-show="myform.serverName.$error.required && (myform.serverName.$dirty || submitted)"> Your Server Name is required. </span>  
                             </div>
                         </div>
                         
                         <div class="col-md-2">
                              <div class="form-group"  ng-class="{ 'has-error' : myform.port.$invalid && (myform.port.$dirty || submitted)}">
                                 <label class="control-label">Port</label>
                                 <input type="number" name="port"  ng-model="formData.port" class="form-control" placeholder="8080"      required>
                                 <span class="help-block"  ng-show="myform.port.$error.required && (myform.port.$dirty || submitted)"> Your Port is required. </span>  
                             </div>
                         </div>
                          <div class="col-md-10">
                             <div class="form-group"  ng-class="{ 'has-error' : myform.ipaddress.$invalid && (myform.ipaddress.$dirty || submitted)}">
                                 <label class="control-label">IP Address</label>
                                 <input type="text" name="ipaddress"  ng-model="formData.ipaddress" class="form-control" placeholder="192.168.120.150"      ng-readonly="accountstatus=='Syra' ?  true  : false " required>
                                 <span class="help-block"  ng-show="myform.ipaddress.$error.required && (myform.ipaddress.$dirty || submitted)"> Your IP Address is required. </span>  
                             </div>
                         </div>
                         
 
  
                    	 </div>
                     
                    
                  
                     <h3 class="form-section">S3 Credentials</h3>
                      <div class="row">
                         <div class="col-md-12" ng-class="{ 'has-error' : myform.username.$invalid && (myform.username.$dirty || submitted)}">
                             <div class="form-group">
                                 <label>Username</label>
                                 <input type="text" name="username" class="form-control" ng-model="formData.username"    placeholder="keenthemes"  required> 
                                 <span class="help-block"  ng-show="myform.username.$error.required && (myform.username.$dirty || submitted)"> Your Access Key is required. </span>  
                                 </div>
                         </div>
                         <div class="col-md-12" ng-class="{ 'has-error' : myform.password.$invalid && (myform.password.$dirty || submitted)}">
                         <div class="form-group">
                                 <label>Password</label>
                                 <input type="password" name="password" class="form-control" ng-model="formData.password"  placeholder="**********"  required> 
                                 <span class="help-block"  ng-show="myform.password.$error.required && (myform.password.$dirty || submitted)"> Your Secret Key is required. </span>  
                                 </div>
                         </div>
                     </div>
					 <div class="form-actions center" align="center">
                    
                   <button type="submit" class="btn default"  ng-disabled="myform.$invalid"> <i class="fa fa-check"></i>  Create</button>
                   <button type="reset" class="btn default">Reset</button>
                 	</div> 
              
             	</form>
             	 
         	<!-- END FORM-->
 		 </div>	
	  </div>
 	 </div>
             